extends layout

block header
  div#header
    h1.pull-left#headertitle #{title}
    div.pad-right.pad-top.pull-right.dropdown(style="margin-right:50px;")
      a.btn.btn-success(href="/blog/add",style="margin-right:10px;") Add Blog Post
      a.btn.dropdown-toggle(href="#",data-toggle="dropdown")
        span Categories 
        span.caret
      ul.dropdown-menu(role="menu")
        li
          a(href="/logout") Logout
        if cats.length
          each cat in cats
            li
              a(href="/blog/category/#{cat.name}") #{cat.name}

block content
  if docs.length
    each doc in docs
      div.row
        div.indexentry.span9
          div.postpreview
            - var lineOne = String(doc.date).substring(4,7);
            - var lineTwo = String(doc.date).substring(7,10);
            - var lineThree = lineOne + " " + lineTwo;
            h4= lineThree
            h1 #{doc.title}
            h4(style="color:#999;") #{doc.author}
            div!= doc.desc
            div.clearfix
          a.btn(href="/blog/#{doc.id}") View Post
  