extends layout

block header
  div#header
    img(src="/images/left_header_img.png",style="margin-left:50px;")
    div.pull-right.dropdown(style="margin-right:50px;")
      a.dropdown-toggle(href="#",data-toggle="dropdown")
        img.img-rounded(src="/images/right_header_img.png")
      ul.dropdown-menu(role="menu")
        li
          a(href="/logout") Logout
        if cats.length
          each cat in cats
            li
              a(href="/blog/category/#{cat.name}") #{cat.name}

block content
  if docs.length
    each doc in docs
      div.row
        div.indexentry.span9
          div.postpreview
            - var lineOne = String(doc.date).substring(4,7);
            - var lineTwo = String(doc.date).substring(7,10);
            - var lineThree = lineOne + " " + lineTwo;
            h4= lineThree
            h1 #{doc.title}
            h4(style="color:#999;margin:10px 0;") #{doc.author}
            div!= doc.desc
            div.clearfix
          a.btn(href="/blog/#{doc.id}") View Post
  