extends layout

block content
  div.contentWrapper
    div.page-header
      h1 #{post.title}
        br
        small #{post.author}
        p #{post.date}
    div!= post.body
    br
    if loggedin
      a.btn.btn-inverse(href="/blog/#{post.id}/edit") Edit
      a.btn.btn-inverse(href="/blog/#{post.id}/delete") Delete